<%= form_for(blog) do |form| %>
  <% if blog.errors.any? %>
    <%= blog.errors.full_messages.each do |error| %>
      <%= js add_gritter(error, :title => "Sushmitha Gowda Blog", sticky: false) %>
    <% end %>
  <% end %>

<div class="form_group"> 
	<%= form.text_field :title, class: 'form-control', Placeholder: 'Title' %>
</div>

<hr>

<div class="form_group">
	<%= form.text_area :body, class: 'form-control', rows: 15, Placeholder: 'Content' %>
</div>

<hr>

<div class="form_group">
	<%= form.submit "Submit", class: 'btn btn-primary' %>
</div>
<% end %>
