<h2>Categories</h2>

<p id="notice"><%= notice %></p>

<hr>

<div>
	<% @blogs.each do |blog| %>
	<div class="content">
		<p><%= blog.title %></p>
		<p><%= blog.body %></p>
		<p><%= link_to 'Show', blog %></p>
		<p><%= link_to 'Edit', edit_blog_path(blog) %></p>
		<p><%= link_to 'Delete', blog, method: :delete, data: { confirm: 'Are you sure?' } %></p>
	</div>
	<% end %>
</div>

<br>

<%= link_to 'Create New', new_blog_path %>
