<div class="<%= location%> ">
	<p><%= link_to "Home", root_path %></p>
	<p><%= link_to "About Me", about_path %></p>
	<p><%= link_to "Contact", contact_path %></p>
	<p><%= link_to "Blog", blogs_path %></p>
	<p><%= link_to "Portfolio", portfolios_path %></p>
</div>